    <!-- {% include 'partials/legos.html' %} -->
    <!-- {% include 'partials/meetup.html' %} -->
            <div class="row">
            	<div class="col-sm-6">
            		<h3>Follow Us</h3>
		            <a class="twitter-timeline" href="https://twitter.com/TheLab_ms" data-widget-id="686669970403536896">Tweets by @TheLab_ms</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            	</div>
        		<div class="col-sm-6">
            		<h3>Find Us</h3>
            		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3345.0894422638667!2d-96.71354504914486!3d33.0277739808032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c18fc1e463fcf%3A0xc3773c65ab7e109!2sTheLab.ms+-+Plano+Education+Center!5e0!3m2!1sen!2sus!4v1451594940515" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            	</div>
            </div>
